body {
  background-color: rgb(253, 253, 253);
}
.search-project .row {
  gap: 50px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
.search-project .row {
  width: 100%;
  justify-content: left;
}
.search-project .row a {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.2s ease-in;
}
.search-project .row a:hover,
.search-project .row a:focus {
  color: rgb(250, 164, 164);
}
.landing-page-work {
  margin: 50px 0;
}
.landing-page-work h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.landing-page-work .row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.row .works {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: lightcoral;
  position: relative;
  transition: all 0.3s;
}
.row .works:hover {
  transform: scale(1.1);
}
.row .works .img img {
  width: 250px;
}
.row .works .img {
  position: relative;
}
.row .works .text {
  position: absolute;
  display: none;
  background-color: rgb(255, 146, 146);
  width: 100%;
  z-index: 1;
  bottom: 0;
  text-align: center;
  height: 35%;
}
.row .works .text a {
  color: black;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.works .text a:hover {
  background-color: rgb(187, 187, 187);
}
.row .works:hover .text {
  display: block;
}
@media screen and (max-width: 900px) {
  .search-project .row {
    justify-content: center;
  }
  .landing-page-work h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .search-project {
    margin-top: 30px;
  }
  .search-project .row {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 15px;
  }
  .search-project .row a {
    font-size: 17px;
    text-align: center;
    width: 100%;
  }
  .landing-page-work h1 {
    font-size: 24px;
  }
  .landing-page-work .row .works {
    width: 210px;
  }
  .landing-page-work .row .works .img img {
    width: 210px;
  }
}
